<div class="login-wrapper">
  <form
    tuiAppearance="floating"
    tuiCardLarge
    tuiForm="m"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    [style.max-width.rem]="35"
  >
    <header tuiHeader>
      <h2 tuiTitle>
        {{ "LOGIN.WELCOME_BACK" | translate }}
        <span tuiSubtitle>Please sign in to continue</span>
      </h2>
      <span tuiAccessories>
        <app-language-switcher></app-language-switcher>
      </span>
    </header>

    <ng-container *ngIf="error">
      <tui-notification appearance="negative">
        <h3 tuiTitle>
          Error
          <span tuiSubtitle>{{ error }}</span>
        </h3>
      </tui-notification>
    </ng-container>

    <tui-textfield>
      <label tuiLabel>{{ "LOGIN.USERNAME" | translate }}</label>
      <input formControlName="username" tuiTextfield />
    </tui-textfield>
    <tui-error
      formControlName="username"
      [error]="[] | tuiFieldError | async"
    ></tui-error>

    <tui-textfield>
      <label tuiLabel>{{ "LOGIN.PASSWORD" | translate }}</label>
      <input formControlName="password" tuiTextfield type="password" />
    </tui-textfield>
    <tui-error
      formControlName="password"
      [error]="[] | tuiFieldError | async"
    ></tui-error>

    <footer>
      <button tuiButton type="submit" [disabled]="loginForm.invalid">
        {{ "LOGIN.LOGIN_BUTTON" | translate }}
      </button>

      <div class="separator-wrapper">
        <div class="separator">
          <span>{{ "LOGIN.OR" | translate }}</span>
        </div>
      </div>

      <div class="sso-wrapper">
        <app-google-sso-button></app-google-sso-button>
      </div>
    </footer>
  </form>
</div>
