.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--tui-background-base); /* Or a specific color/image */
  padding: 1rem;
  box-sizing: border-box;
}

/* Ensure the form takes full width up to max-width defined in HTML */
form[tuiCardLarge] {
  width: 100%;
}

.separator-wrapper {
  margin: 1rem 0;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--tui-text-tertiary);

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--tui-border-normal);
  }

  span {
    padding: 0 10px;
    font: var(--tui-font-text-s);
  }
}

.sso-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
