<div class="login-container">
  <div class="login-card">
    <div class="card-header">
      <app-language-switcher></app-language-switcher>
    </div>
    <h2>{{ "LOGIN.WELCOME_BACK" | translate }}</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">{{ "LOGIN.USERNAME" | translate }}</label>
        <input id="username" type="text" formControlName="username" required />
        <div
          *ngIf="
            loginForm.get('username')?.invalid &&
            loginForm.get('username')?.touched
          "
          class="error"
        >
          {{ "LOGIN.USERNAME" | translate }} is required
        </div>
      </div>
      <div class="form-group">
        <label for="password">{{ "LOGIN.PASSWORD" | translate }}</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          required
        />
        <div
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
          class="error"
        >
          {{ "LOGIN.PASSWORD" | translate }} is required
        </div>
      </div>
      <div *ngIf="error" class="error-message">{{ error }}</div>
      <button type="submit" [disabled]="loginForm.invalid">
        {{ "LOGIN.LOGIN_BUTTON" | translate }}
      </button>
    </form>

    <div class="separator">
      <span>{{ "LOGIN.OR" | translate }}</span>
    </div>

    <!-- Google SSO Button Wrapper -->
    <app-google-sso-button></app-google-sso-button>
  </div>
</div>
